services:
  mysql:
    image: mysql:9.4.0
    container_name: lakeside_mutual
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sa
      MYSQL_USER: sa
      MYSQL_PASSWORD: sa
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  mongodb:
    image: mongo:8.0.15
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: sa
      MONGO_INITDB_ROOT_PASSWORD: sa
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./nosql:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
  mongodb_data:
