services:
  mysql:
    image: mysql:9.4.0
    container_name: lakeside_mutual
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sa
      MYSQL_USER: sa
      MYSQL_PASSWORD: sa
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  redis:
    image: redis/redis-stack
    ports:
      - "6379:6379"

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    ports:
      - "5540:5540"
volumes:
  mysql_data:
